body {
background-color:#333333;
text-align:;
margin: 0;
overflow: hidden;
}

h1 {
background-color: ;
}

h2 {
background-color:;
 }



a:hover, a:active {
  background-color: red;
}

h1 {
  border-bottom:5px solid #0079FF;
}

body {
  margin: 0;
  overflow: hidden;
}

#mascot {
  position: absolute;
  bottom: 0;
  width: 50%;
  left: 25%;
  right: 0;
  margin: auto;
  width: 100px;
}

@media (max-width: 767px) {
  #mascot {
    width: 80%;
  }
}


