body {
background-color:;
text-align:;
}
h1 {
background-color: ;
}

h2 {
background-color:;
 }



a:hover, a:active {
  background-color: red;
}

h1 {
  border-bottom:5px solid #0079FF;
}

body {
        padding: 25px;
        background-color: white;
        color: black;
        font-size: 25px;
      }

.dark-mode {
        background-color: #525252;
        color: white;
      }
      .light-mode {
        background-color: #EEEEEE;
        color: black;
      }
