body {
background-color:#EEEEEE;
text-align:;
}
h1 {
background-color: ;
}

h2 {
background-color:;
 }



a:hover, a:active {
  background-color: red;
}

h1 {
  border-bottom:5px solid #0079FF;
}

.container{
    margin-top:200px;
}

.btn:hover{
    color:#fff;
}

.input-text:focus{
       
  
    box-shadow: 0px 0px 0px;
    border-color:#f8c146;
    outline: 0px;
}

.form-control {
    border: 1px solid #f8c146;
}



